<h1>Open Console...</h1>

<div class="container">
  <div class="row books">
    <h1>Books</h1>
    <ol
      class="list-group list-group-numbered"
      *ngFor="let book of books">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Book ISBN: {{book.isbnNumber}}</div>
          Price: {{book.price}}
        </div>
        <button
          class="btn btn-primary"
          (click)="addToCart(book)">Add</button>
      </li>
    </ol>
  </div>
  <br>
  <div class=" row fruits">
    <h1>Fruits</h1>
    <ol
      class="list-group list-group-numbered"
      *ngFor="let fruit of fruits">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Name: {{fruit.name}}</div>
          Price (KG): {{fruit.pricePerKg}}
          Weight (KG): {{fruit.weight}}
        </div>
        <button
          class="btn btn-primary"
          (click)="addToCart(fruit)">Add</button>
      </li>
    </ol>
  </div>
  <div class="row mt-4">
    <button
      type="button"
      class="btn btn-info"
      (click)="calculatePrice()">
      <span class="badge bg-primary rounder-pill">{{items.length}}</span>
      View Cart
    </button>
  </div>
</div>




